*.egg
*.log
*.pyc
*.tmp
.DS_Store
.cache/
.coverage
.eggs/
.python-version
.tox/
venv
Stethoscope.egg-info/
build
htmlcov/
node_modules/
scratch/
tmp/
twistd.pid
.env
stethoscope/static/*
stethoscope/login/templates/layout.html
docs/_build
