/* from https://projects.lukehaas.me/css-loaders/ */

.loader-wrapper {
  text-align: center;
  color: #aaa;
  font-weight: 300;
}
.loader {
  font-size: 10px;
  margin: 30px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #cdcdcd;
  background: -moz-linear-gradient(left, #cdcdcd 10%, rgba(205,205,205, 0) 42%);
  background: -webkit-linear-gradient(left, #cdcdcd 10%, rgba(205,205,205, 0) 42%);
  background: -o-linear-gradient(left, #cdcdcd 10%, rgba(205,205,205, 0) 42%);
  background: -ms-linear-gradient(left, #cdcdcd 10%, rgba(205,205,205, 0) 42%);
  background: linear-gradient(to right, #cdcdcd 10%, rgba(205,205,205, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #cdcdcd;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #f8f8f8;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}